@font-face {
  font-family: "Poppins";
  src: url(/fonts/Poppins/Poppins-Black.ttf) format("truetype");
  src: url(/fonts/Poppins/Poppins-Bold.ttf) format("truetype");
  src: url(/fonts/Poppins/Poppins-Light.ttf) format("truetype");
  src: url(/fonts/Poppins/Poppins-Medium.ttf) format("truetype");
  src: url(/fonts/Poppins/Poppins-Regular.ttf) format("truetype");
  src: url(/fonts/Poppins/Poppins-SemiBold.ttf) format("truetype");
}
@import url('https://fonts.googleapis.com/css?family=Mr+De+Haviland');
body {font-family: "Poppins" !important;}
:root {
	--primary-color: #e72e77;
	--secondary-color: #b4245d;
}


/* width */
::-webkit-scrollbar {width: 4px;}  
/* Track */
  ::-webkit-scrollbar-track {background: #f1f1f1;}  
/* Handle */
::-webkit-scrollbar-thumb {background: #888;}  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {background: #555;}


/* Header  */
.nav-contact{background-color: var(--primary-color) !important;padding: 0.15rem 0;}
.top-header .top-header-text{font-family: "Mr De Haviland";color: #fff;margin-bottom: 0;text-align: center;font-size: 36px;letter-spacing: 1px;}
.bottom-header{background-color: #eaecf0;}
.nav-item .nav-link{padding: 0.5rem 13px !important;font-size: 16px;font-weight: 500;}
/* .bottom-header-content.transparent.scroll-light .logo .bottom-header-text{display: none;} */
.bottom-header-text{font-family: "Mr De Haviland";color: var(--primary-color);margin-bottom: 0;text-align: center;font-size: 36px;letter-spacing: 2px;position: relative;}
.bottom-header .bottom-header-content{display: flex;justify-content: center;align-items: center;height: 100%;}
.top-icon{width: 30px;height: 30px;border-radius: 50%;background-color: #fff;display: flex !important;align-items: center;font-size: 14px;justify-content: center;color: var(--primary-color);}
.icon-text{font-size: 13px;font-weight: 300;color: #ffffff !important;margin-left: 8px;position: relative;}
.icon-text::after{bottom: 0;content: "";display: block;height: 2px;left: 50%;position: absolute;background: var(--secondary-color);transition: width 0.3s ease 0s, left 0.3s ease 0s;width: 0;}
.icon-text:hover:after {width: 100%;left: 0;}
.login-out-btn{font-weight:500;font-size: 13px;padding: 7px 20px;background-color: var(--primary-color);border-radius: 7px;color: white;display: flex;align-items: center;margin-left: 10px;}
.login-out-btn:hover{background-color: var(--secondary-color);}
.login-out-icon{margin-right: 7px;}
.nav-item{display: flex;align-items: center;}
.nav-link{position: relative;display: inline-block;perspective: perspective(1px) translateZ(0);overflow: hidden;color: black;}
.nav-link::before{content: "";position: absolute;z-index: 11111;
    left: 0;right: 0;bottom: 0;background: var(--primary-color);
    height: 3px;transform: translateY(4px);transition-property: transform;transition-duration: 0.3s;transition-timing-function: ease-out;
}
.nav-link:hover{color: var(--primary-color);}
.nav-link.active{color: var(--primary-color) !important;}
.nav-link:hover:before,.nav-link.active:before{transform: translateY(0) !important;}  
.dropdown-menu{border: none;box-shadow: 0 2px 15px rgba(0,0,0,0.3);padding: 0;border-radius: 2px;}
.header-dropdown .dropdown-item{padding: 8px 15px;}
.header-dropdown .dropdown-item:hover{background-color: var(--primary-color);color: #ffffff;}
.navbar-toggler{border: none;}
.navbar-toggler:focus{border: none;box-shadow: none;}
@media (max-width:768px) {
  .icon-text{display: none;}
  .top-icon{margin-right: 5px;}
  .login-out-btn{margin-left:0px;}
}
@media (max-width:576px) {
  .bottom-header-text{font-size: 27px;}
}
.main-banner-section{background: #f1f1f1 !important;}
.banner-slider .slider-img{border: 3px solid #fff;}
.banner-slider .slick-slide{margin-right: 7px;}
.banner-slider .slick-prev, .banner-slider .slick-next{    position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.3s ease-in-out;z-index: 111;}
.banner-slider .slick-prev:hover, .banner-slider .slick-next:hover{background: var(--primary-color);}
.banner-slider .slick-prev:before, .banner-slider .slick-next:before{color: var(--primary-color);}
.banner-slider .slick-next:hover .banner-slider .slick-next:before{color: white;}
.banner-slider .slick-prev:hover .banner-slider .slick-prev:before{color: white;}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus{color: var(--primary-color) !important;background: #fff !important;}
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before{opacity: 1 !important;}
.slick-prev:before{content: '\f060';font-family: 'FontAwesome';}
.slick-next:before{content: '\f061';font-family: 'FontAwesome';}
.banner-slider .slick-prev{left: 10px;}
.banner-slider .slick-next{right: 12px;}
.slick-prev:before, .slick-next:before{opacity: 1;}
.banner-slider:hover .slick-prev{opacity: 1;}
.banner-slider:hover .slick-next{opacity: 1;}

.slider-heading{font-size: 26px;font-weight: 600;line-height: 32px;color: var(--secondary-color) !important;margin-bottom: 12px;}
.primary-color{color: var(--primary-color);}
.slider-content-p{font-size: 16px;line-height: 26px;color: #b4245ec4;font-weight: 400;}
section{padding: 65px 0 65px 0;}
@media (max-width:991px) {
  .slider-content-p{margin-bottom: 12px !important;}
  section{padding: 34px 0 34px 0;}
}
@media (max-width:768px) {
  .slider-content-p{margin-bottom: 5px !important;}
  .slider-heading{font-size: 22px;line-height: 27px;margin-bottom: 8px;}
  .banner-slider .slick-prev, .banner-slider .slick-next{width: 35px;height: 35px;}
  .slick-prev:before, .slick-next:before{font-size: 14px;}
}
@media (max-width:576px) {
  .slider-heading{font-size: 18px;line-height: 24px;}
  .slider-content-p{font-size: 14px;line-height: 21px;}
  section{padding: 27px 0 27px 0;}
}

.about-us-section{background-color: #ffffff !important;}
.first-image, .second-image{box-shadow: 0px 2px 16.8px 3.2px rgba(0, 0, 0, 0.08);max-width: 400px;padding: 15px;background-color: #ffffff;}
.img-cont{padding: 20px;background-color: var(--primary-color);}
.img-cont img{width: 100%;max-width: 400px;}
.second-image{position: absolute;top: 0;left: 0;transform: rotate(10deg);transition: all 0.3s ease-in-out;}
.shape-img{position: absolute;left: -238px;bottom: 0;}
.about-us-heading{font-size: 26px;font-weight: 600;line-height: 32px;color: var(--secondary-color) !important;margin-top: 0;margin-bottom: 10px;}
.about-us-content{font-size: 16px;line-height: 26px;color: #b4245ec4;font-weight: 400;margin-bottom: 8px;}
.about-us-content:nth-last-child(2){margin-bottom: 25px;}

.button-52 {
  font-size: 16px;font-weight: 400;letter-spacing: 1px;padding: 13px 20px 13px;
  outline: 0;border: 1px solid black;cursor: pointer;position: relative;background-color: rgba(0, 0, 0, 0);user-select: none;
  -webkit-user-select: none;z-index: 111;color: #ffffff;touch-action: manipulation;
}
.button-52:after {content: "";background-color: var(--primary-color);width: 100%;z-index: -1;position: absolute;height: 100%;top: 7px;left: 7px;transition: 0.2s;}
.button-52:hover{border-color: var(--primary-color);}
.button-52:hover:after {top: 0px;left: 0px;}
@media (min-width: 768px) {
  .button-52 {
    padding: 10px 40px 10px;
  }
}

/* heading section  */
.heading-section{display: flex;flex-direction: column;justify-content: center;align-items: center;margin-bottom: 28px;}
.heading-section .heading-icon-sec::before{position: absolute;left: -125px;bottom: 25px;width: 100px;height: 1px;content: "";background-color: var(--secondary-color);}
.heading-section .heading-icon-sec::after{position: absolute;right: -125px;bottom: 25px;width: 100px;height: 1px;content: "";background-color: var(--secondary-color);}
.heading-section .heading-title{font-size: 36px;line-height: 1;margin-top: 0;margin-bottom: 12px;font-weight: 600;color: var(--primary-color);}
@media (max-width:992px) {
  .about-us-heading{font-size: 22px;line-height: 26px;}
  .about-us-content{font-size: 14px;line-height: 22px;}
  .first-image, .second-image{max-width: 300px;}
}
@media (max-width:768px) {
  .about-us-heading{margin-top: 40px;}
}
@media (max-width:576px){
  .heading-section .heading-title{font-size: 28px;}
  .heading-icon{width: 56px;}
  .heading-section .heading-icon-sec::after{width: 75px;right: -100px;}
  .heading-section .heading-icon-sec::before{left: -100px;width: 75px;}
  .first-image, .second-image{max-width: 275px;padding: 13px;margin: auto;}
  .second-image{left: 50px;}
  .shape-img{left: -165px;}
  .about-us-content{text-align: justify;}
}

.side-bar {
  background: white;
  width: 284px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -284px;
  overflow-y: auto;
  transition: 0.6s ease;
  transition-property: left;
}

.side-bar::-webkit-scrollbar {
  width: 0px;
}

.side-bar.active {
  left: 0;
}

.side-bar .menu {
  width: 100%;
  margin-top: 30px;
}

.side-bar .menu .item {
  position: relative;
  cursor: pointer;
}

.side-bar .menu .item a {
  color: black;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 5px 30px;
  line-height: 60px;
}

.side-bar .menu .item a:hover {
  background: #33363a;
  transition: 0.3s ease;
}

.side-bar .menu .item i {
  margin-right: 15px;
}

.side-bar .menu .item a .dropdown {
  position: absolute;
  right: 0;
  margin: 20px;
  transition: 0.3s ease;
}

.side-bar .menu .item .sub-menu {
  background: #262627;
  display: none;
}

.side-bar .menu .item .sub-menu a {
  padding-left: 80px;
}

.rotate {
  transform: rotate(90deg);
}

.close-btn {
  position: absolute;
  color: black;
  font-size: 23px;
  right: 0px;
  top: 0;
  margin: 10px;
  cursor: pointer;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}